.site-footer {
  position: relative;
  margin-top: 25px;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #ddd;
  vertical-align: middle;
}

.site-footer ul {
  padding: 0px;
  vertical-align: middle;
}

.site-footer:before {
  display: table;
  content: "";
}
.site-footer:after {
  display: table;
  clear: both;
  content: "";
}
.site-footer .octicon-mark-github {
  position: absolute;
  top: 10px;
  left: 50%;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  color: #ccc;
}
.site-footer .octicon-mark-github:hover {
  color: #bbb;
}
.site-footer-links {
  margin: 0;
  list-style: none;
}
.site-footer-links li {
  display: inline-block;
  line-height: 16px;
}
.site-footer-links li+li {
  margin-left: 10px;
}

.right {
  float: right;
}
.left {
  float: left;
}

.site-footer img {
  vertical-align: middle;
}
