---
layout: default
---
<section id="main-content">

{% if page.title %}
<h1 class="post-title">{{ page.title }}</h1>
{% endif %}

<p class="post-meta">
{% if page.date %}Posted on {{ page.date | date: "%B %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}.{% endif %}
</p>

{{ content }}

<hr/>
<p class="post-footer">
This entry was posted in
{% assign add_separator = false %}
{% for item in page.categories %}{% if add_separator %}, {% else %}{% assign add_separator = true %}{% endif %}<strong>{{ item | downcase }}</strong>{% endfor %}
and tagged
{% assign add_separator = false %}
{% for item in page.tags %}{% if add_separator %}, {% else %}{% assign add_separator = true %}{% endif %}<strong>{{ item | downcase }}</strong>{% endfor %}.
</p>
</section>
