<aside id="sidebar">

{% capture ln %}{% include content/latest-news.markdown %}{% endcapture %}{{ ln | markdownify }}
<hr />
{% capture sb %}{% include content/sidebar.markdown %}{% endcapture %}{{ sb | markdownify }}
<hr />
<p>This site uses the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="NXKFN7DJH8DJ6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="Pay Pal" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</aside>
